<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:14:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSActivarTorneo()[pri:76, instance:test.Test33CMSTorneos@6fb0261e]">CMSActivarTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8db8ed">  <td>19/11/13 16:09:13</td>   <td>-289811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test32CMSAsignaRol.CMSAsignarRolaUsuario()[pri:71, instance:test.Test32CMSAsignaRol@3a209918]">CMSAsignarRolaUsuario</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bfa972">  <td>19/11/13 15:47:12</td>   <td>-1609950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test19AsociacionRanking.CMSAsociacionR()[pri:38, instance:test.Test19AsociacionRanking@661e279d]">CMSAsociacionR</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:10:57</td>   <td>-184883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSCreaTorneo()[pri:73, instance:test.Test33CMSTorneos@6fb0261e]">CMSCreaTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:14:43</td>   <td>41097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSDesactivarTorneo()[pri:77, instance:test.Test33CMSTorneos@6fb0261e]">CMSDesactivarTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:12:10</td>   <td>-112355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSEditaTorneo()[pri:74, instance:test.Test33CMSTorneos@6fb0261e]">CMSEditaTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:12:47</td>   <td>-75711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSEliminaTorneo()[pri:75, instance:test.Test33CMSTorneos@6fb0261e]">CMSEliminaTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:17:14</td>   <td>191738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test34CMSMisiones.CMSEliminarMisiones()[pri:80, instance:test.Test34CMSMisiones@270d5060]">CMSEliminarMisiones</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="75746b">  <td>19/11/13 15:57:23</td>   <td>-999362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test26CMSGraceDay.CMSGraceDayCrear()[pri:55, instance:test.Test26CMSGraceDay@d6b532f]">CMSGraceDayCrear</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="75746b">  <td>19/11/13 15:56:46</td>   <td>-1035917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test26CMSGraceDay.CMSGraceDayTest()[pri:54, instance:test.Test26CMSGraceDay@d6b532f]">CMSGraceDayTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:48:07</td>   <td>-1555275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSLISTNOT()[pri:39, instance:test.Test20Notificacion@7f426ddd]">CMSLISTNOT</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b88adc">  <td>19/11/13 15:54:55</td>   <td>-1146966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test24CMSDashboard.CMSLoadDashboard()[pri:48, instance:test.Test24CMSDashboard@2bdab835]">CMSLoadDashboard</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c81b4">  <td>19/11/13 15:51:40</td>   <td>-1342154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test22CMSLogInAs.CMSLoginAsTest()[pri:43, instance:test.Test22CMSLogInAs@3855d9b2]">CMSLoginAsTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 15:58:23</td>   <td>-939807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENU()[pri:57, instance:test.Test27CMSMenu@3afca2c]">CMSMENU</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 15:59:11</td>   <td>-891220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENUCREAR()[pri:58, instance:test.Test27CMSMenu@3afca2c]">CMSMENUCREAR</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 16:00:11</td>   <td>-831564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENUEliminar()[pri:59, instance:test.Test27CMSMenu@3afca2c]">CMSMENUEliminar</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:48:48</td>   <td>-1514687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSNOTIFICACION()[pri:40, instance:test.Test20Notificacion@7f426ddd]">CMSNOTIFICACION</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="70ac9b">  <td>19/11/13 15:55:49</td>   <td>-1093504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test25CMSNoticias.CMSNews()[pri:50, instance:test.Test25CMSNoticias@1815577b]">CMSNews</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:15:48</td>   <td>105319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test34CMSMisiones.CMSNuevaMIsion()[pri:78, instance:test.Test34CMSMisiones@270d5060]">CMSNuevaMIsion</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:52:44</td>   <td>-1278279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSCREAR()[pri:45, instance:test.Test23CMSPayPall@7b8aebd0]">CMSPAYPALLSUSCREAR</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:53:24</td>   <td>-1238254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSEDITAR()[pri:46, instance:test.Test23CMSPayPall@7b8aebd0]">CMSPAYPALLSUSEDITAR</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:54:02</td>   <td>-1200362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSELIMINAR()[pri:47, instance:test.Test23CMSPayPall@7b8aebd0]">CMSPAYPALLSUSELIMINAR</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18576">  <td>19/11/13 16:18:11</td>   <td>248383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test35CMSPremios.CMSPremiosTest()[pri:81, instance:test.Test35CMSPremios@639c7f9c]">CMSPremiosTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="957ada">  <td>19/11/13 15:50:38</td>   <td>-1403979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test21CMSReqUsuario.CMSReqUsuario()[pri:42, instance:test.Test21CMSReqUsuario@47a3d56a]">CMSReqUsuario</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:05:46</td>   <td>-496600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesCrear()[pri:67, instance:test.Test30CMSRoles@147e0734]">CMSRolesCrear</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:06:32</td>   <td>-450305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesEditar()[pri:68, instance:test.Test30CMSRoles@147e0734]">CMSRolesEditar</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:04:51</td>   <td>-551598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesTest()[pri:66, instance:test.Test30CMSRoles@147e0734]">CMSRolesTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:49:28</td>   <td>-1473903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSSendsNOTIFICACION()[pri:41, instance:test.Test20Notificacion@7f426ddd]">CMSSendsNOTIFICACION</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6bb1da">  <td>19/11/13 15:46:18</td>   <td>-1664445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test18Temporadas.CMSTemporadasTG()[pri:34, instance:test.Test18Temporadas@6d31f106]">CMSTemporadasTG</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:10:19</td>   <td>-222864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSTorneo()[pri:72, instance:test.Test33CMSTorneos@6fb0261e]">CMSTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e2bea7">  <td>19/11/13 16:19:02</td>   <td>299567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test36CMSTraducciones.CMSTraduccionesTest()[pri:84, instance:test.Test36CMSTraducciones@6d7b001b]">CMSTraduccionesTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:20:29</td>   <td>387166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesCrearTest()[pri:86, instance:test.Test37CMSTutoriales@1f758e4f]">CMSTutorialesCrearTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:21:16</td>   <td>434078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesEditarTest()[pri:87, instance:test.Test37CMSTutoriales@1f758e4f]">CMSTutorialesEditarTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:22:08</td>   <td>486014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesEliminarTest()[pri:88, instance:test.Test37CMSTutoriales@1f758e4f]">CMSTutorialesEliminarTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:19:54</td>   <td>351915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesTest()[pri:85, instance:test.Test37CMSTutoriales@1f758e4f]">CMSTutorialesTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="996569">  <td>19/11/13 16:08:06</td>   <td>-356350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test31CMSUsuario.CMSUsuarioEditar()[pri:70, instance:test.Test31CMSUsuario@ee96866]">CMSUsuarioEditar</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="996569">  <td>19/11/13 16:07:33</td>   <td>-389637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test31CMSUsuario.CMSUsuarioTest()[pri:69, instance:test.Test31CMSUsuario@ee96866]">CMSUsuarioTest</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:16:23</td>   <td>140651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test34CMSMisiones.CMScrearMisiones()[pri:78, instance:test.Test34CMSMisiones@270d5060]">CMScrearMisiones</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:01:33</td>   <td>-749658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisos()[pri:62, instance:test.Test29CMSPermisos@112c2930]">CMSpermisos</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:02:15</td>   <td>-707482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosCrear()[pri:63, instance:test.Test29CMSPermisos@112c2930]">CMSpermisosCrear</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:02:52</td>   <td>-669862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosEditar()[pri:64, instance:test.Test29CMSPermisos@112c2930]">CMSpermisosEditar</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:03:56</td>   <td>-606294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosEliminar()[pri:65, instance:test.Test29CMSPermisos@112c2930]">CMSpermisosEliminar</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="736bd1">  <td>19/11/13 15:42:55</td>   <td>-1867585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test16CSGO.CSGOLOBBY()[pri:28, instance:test.Test16CSGO@2cae5fa7]">CSGOLOBBY</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8581c4">  <td>19/11/13 15:09:18</td>   <td>-3884038</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test42PassWordReset.CloseChrome()[pri:0, instance:test.Test42PassWordReset@3181d4de]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c0a16e">  <td>19/11/13 15:11:31</td>   <td>-3751406</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01LogIn.CloseChrome()[pri:0, instance:test.Test01LogIn@71369e1a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ef6c79">  <td>19/11/13 15:13:07</td>   <td>-3655541</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test00CrearCuenta.CloseChrome()[pri:0, instance:test.Test00CrearCuenta@3719360c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="99a494">  <td>19/11/13 15:15:34</td>   <td>-3508701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test43LogInFacebook.CloseChrome()[pri:0, instance:test.Test43LogInFacebook@587f4f63]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7d94c0">  <td>19/11/13 15:18:40</td>   <td>-3321872</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test02MiPerfil.CloseChrome()[pri:0, instance:test.Test02MiPerfil@34aa8b61]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="68806d">  <td>19/11/13 15:21:18</td>   <td>-3164615</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test03EditarCuenta.CloseChrome()[pri:0, instance:test.Test03EditarCuenta@55222ee9]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a5a970">  <td>19/11/13 15:23:54</td>   <td>-3008742</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test04HacerPremiumLaCuenta.CloseChrome()[pri:0, instance:test.Test04HacerPremiumLaCuenta@71567f33]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac8968">  <td>19/11/13 15:24:47</td>   <td>-2954819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test05EquiposTorneos.CloseChrome()[pri:0, instance:test.Test05EquiposTorneos@39f42d0e]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e49bc1">  <td>19/11/13 15:25:38</td>   <td>-2904118</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test06GenerarCodigoReferido.CloseChrome()[pri:0, instance:test.Test06GenerarCodigoReferido@2f4d01b6]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9a66ad">  <td>19/11/13 15:27:09</td>   <td>-2813202</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test07InicioTorneos.CloseChrome()[pri:0, instance:test.Test07InicioTorneos@4f64d9cb]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ecabfc">  <td>19/11/13 15:29:52</td>   <td>-2650007</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test08CrearTorneo.CloseChrome()[pri:0, instance:test.Test08CrearTorneo@532dacf5]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cf8498">  <td>19/11/13 15:30:51</td>   <td>-2591092</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test09ConsultaTorneo.CloseChrome()[pri:0, instance:test.Test09ConsultaTorneo@3962ec84]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:33:41</td>   <td>-2421438</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.CloseChrome()[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c846d">  <td>19/11/13 15:34:46</td>   <td>-2355854</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test11AdministrarPartida.CloseChrome()[pri:0, instance:test.Test11AdministrarPartida@4c04216f]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac72ac">  <td>19/11/13 15:36:11</td>   <td>-2271740</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test12EliminarTorneo.CloseChrome()[pri:0, instance:test.Test12EliminarTorneo@987a0bb]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:34</td>   <td>-2188179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.CloseChrome()[pri:0, instance:test.Test13Equipos@da09250]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:41:17</td>   <td>-1965035</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.CloseChrome()[pri:0, instance:test.Test14Misiones@660b1a9d]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b4946c">  <td>19/11/13 15:42:38</td>   <td>-1884772</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test15Ranking.CloseChrome()[pri:0, instance:test.Test15Ranking@28e7bb31]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="736bd1">  <td>19/11/13 15:43:40</td>   <td>-1822402</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test16CSGO.CloseChrome()[pri:0, instance:test.Test16CSGO@2cae5fa7]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:45:53</td>   <td>-1688858</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.CloseChrome()[pri:0, instance:test.Test17Noticias@733534f9]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6bb1da">  <td>19/11/13 15:46:55</td>   <td>-1627155</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test18Temporadas.CloseChrome()[pri:0, instance:test.Test18Temporadas@6d31f106]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bfa972">  <td>19/11/13 15:47:50</td>   <td>-1571984</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test19AsociacionRanking.CloseChrome()[pri:0, instance:test.Test19AsociacionRanking@661e279d]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:50:16</td>   <td>-1425975</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.CloseChrome()[pri:0, instance:test.Test20Notificacion@7f426ddd]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="957ada">  <td>19/11/13 15:51:19</td>   <td>-1363531</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test21CMSReqUsuario.CloseChrome()[pri:0, instance:test.Test21CMSReqUsuario@47a3d56a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c81b4">  <td>19/11/13 15:52:27</td>   <td>-1295003</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test22CMSLogInAs.CloseChrome()[pri:0, instance:test.Test22CMSLogInAs@3855d9b2]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:54:41</td>   <td>-1161340</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.CloseChrome()[pri:0, instance:test.Test23CMSPayPall@7b8aebd0]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b88adc">  <td>19/11/13 15:55:32</td>   <td>-1109872</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test24CMSDashboard.CloseChrome()[pri:0, instance:test.Test24CMSDashboard@2bdab835]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="70ac9b">  <td>19/11/13 15:56:28</td>   <td>-1054179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.CloseChrome()[pri:0, instance:test.Test25CMSNoticias@1815577b]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="75746b">  <td>19/11/13 15:58:03</td>   <td>-959454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.CloseChrome()[pri:0, instance:test.Test26CMSGraceDay@d6b532f]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 16:01:11</td>   <td>-771493</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.CloseChrome()[pri:0, instance:test.Test27CMSMenu@3afca2c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:04:33</td>   <td>-568952</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.CloseChrome()[pri:0, instance:test.Test29CMSPermisos@112c2930]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:07:18</td>   <td>-404787</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.CloseChrome()[pri:0, instance:test.Test30CMSRoles@147e0734]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="996569">  <td>19/11/13 16:08:58</td>   <td>-304737</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.CloseChrome()[pri:0, instance:test.Test31CMSUsuario@ee96866]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8db8ed">  <td>19/11/13 16:10:05</td>   <td>-237514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test32CMSAsignaRol.CloseChrome()[pri:0, instance:test.Test32CMSAsignaRol@3a209918]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:15:34</td>   <td>91653</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.CloseChrome()[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:17:55</td>   <td>232193</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.CloseChrome()[pri:0, instance:test.Test34CMSMisiones@270d5060]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18576">  <td>19/11/13 16:18:45</td>   <td>283155</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test35CMSPremios.CloseChrome()[pri:0, instance:test.Test35CMSPremios@639c7f9c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e2bea7">  <td>19/11/13 16:19:39</td>   <td>336730</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test36CMSTraducciones.CloseChrome()[pri:0, instance:test.Test36CMSTraducciones@6d7b001b]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:22:51</td>   <td>528628</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.CloseChrome()[pri:0, instance:test.Test37CMSTutoriales@1f758e4f]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="95d2b2">  <td>19/11/13 16:23:36</td>   <td>573329</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test38CMSLogOut.CloseChrome()[pri:0, instance:test.Test38CMSLogOut@6fe04f2a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="f280bd">  <td>19/11/13 16:24:35</td>   <td>632629</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test39CMSIdioma.CloseChrome()[pri:0, instance:test.Test39CMSIdioma@beabd6b]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:26:16</td>   <td>734142</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.CloseChrome()[pri:0, instance:test.Test40CMSVistasOffline@1f949ab9]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bdb3b8">  <td>19/11/13 16:26:41</td>   <td>758527</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test41LogInAlterno.CloseChrome()[pri:0, instance:test.Test41LogInAlterno@5a7b6b75]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:38:35</td>   <td>-2127782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.Consultamisiones()[pri:23, instance:test.Test14Misiones@660b1a9d]">Consultamisiones</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ecabfc">  <td>19/11/13 15:27:25</td>   <td>-2797215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test08CrearTorneo.CrearTorneoFree()[pri:9, instance:test.Test08CrearTorneo@532dacf5]">CrearTorneoFree</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ecabfc">  <td>19/11/13 15:28:40</td>   <td>-2721838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test08CrearTorneo.CrearTorneoPremium()[pri:10, instance:test.Test08CrearTorneo@532dacf5]">CrearTorneoPremium</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="68806d">  <td>19/11/13 15:19:42</td>   <td>-3260008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test03EditarCuenta.EditarCuenta()[pri:2, instance:test.Test03EditarCuenta@55222ee9]">EditarCuenta</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:27</td>   <td>-2194939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.EliminaEquipo()[pri:21, instance:test.Test13Equipos@da09250]">EliminaEquipo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:40:29</td>   <td>-2013435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.EliminarMisiones()[pri:25, instance:test.Test14Misiones@660b1a9d]">EliminarMisiones</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac72ac">  <td>19/11/13 15:35:07</td>   <td>-2335005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test12EliminarTorneo.EliminarTorneo()[pri:16, instance:test.Test12EliminarTorneo@987a0bb]">EliminarTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:13</td>   <td>-2208966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.EquipoPorJuego()[pri:19, instance:test.Test13Equipos@da09250]">EquipoPorJuego</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e49bc1">  <td>19/11/13 15:25:03</td>   <td>-2939129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test06GenerarCodigoReferido.GenerarCodigoReferidos()[pri:6, instance:test.Test06GenerarCodigoReferido@2f4d01b6]">GenerarCodigoReferidos</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a5a970">  <td>19/11/13 15:22:02</td>   <td>-3120238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test04HacerPremiumLaCuenta.HacerPremiumLaCuenta()[pri:3, instance:test.Test04HacerPremiumLaCuenta@71567f33]">HacerPremiumLaCuenta</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8581c4">  <td>19/11/13 15:07:14</td>   <td>-4007922</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test42PassWordReset.IngresoAmbiente()[pri:0, instance:test.Test42PassWordReset@3181d4de]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c0a16e">  <td>19/11/13 15:09:20</td>   <td>-3882576</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01LogIn.IngresoAmbiente()[pri:0, instance:test.Test01LogIn@71369e1a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ef6c79">  <td>19/11/13 15:11:33</td>   <td>-3749585</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test00CrearCuenta.IngresoAmbiente()[pri:0, instance:test.Test00CrearCuenta@3719360c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="99a494">  <td>19/11/13 15:13:08</td>   <td>-3654033</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test43LogInFacebook.IngresoAmbiente()[pri:0, instance:test.Test43LogInFacebook@587f4f63]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7d94c0">  <td>19/11/13 15:15:37</td>   <td>-3505808</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test02MiPerfil.IngresoAmbiente()[pri:0, instance:test.Test02MiPerfil@34aa8b61]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="68806d">  <td>19/11/13 15:18:44</td>   <td>-3318614</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test03EditarCuenta.IngresoAmbiente()[pri:0, instance:test.Test03EditarCuenta@55222ee9]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a5a970">  <td>19/11/13 15:21:18</td>   <td>-3163828</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test04HacerPremiumLaCuenta.IngresoAmbiente()[pri:0, instance:test.Test04HacerPremiumLaCuenta@71567f33]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac8968">  <td>19/11/13 15:23:54</td>   <td>-3007887</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test05EquiposTorneos.IngresoAmbiente()[pri:0, instance:test.Test05EquiposTorneos@39f42d0e]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e49bc1">  <td>19/11/13 15:24:49</td>   <td>-2953716</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test06GenerarCodigoReferido.IngresoAmbiente()[pri:0, instance:test.Test06GenerarCodigoReferido@2f4d01b6]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9a66ad">  <td>19/11/13 15:25:39</td>   <td>-2903155</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test07InicioTorneos.IngresoAmbiente()[pri:0, instance:test.Test07InicioTorneos@4f64d9cb]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ecabfc">  <td>19/11/13 15:27:11</td>   <td>-2811658</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test08CrearTorneo.IngresoAmbiente()[pri:0, instance:test.Test08CrearTorneo@532dacf5]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cf8498">  <td>19/11/13 15:29:53</td>   <td>-2649024</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test09ConsultaTorneo.IngresoAmbiente()[pri:0, instance:test.Test09ConsultaTorneo@3962ec84]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:30:52</td>   <td>-2589932</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test10EditaActivaDesactivaTorneo.IngresoAmbiente()[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c846d">  <td>19/11/13 15:33:42</td>   <td>-2420111</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test11AdministrarPartida.IngresoAmbiente()[pri:0, instance:test.Test11AdministrarPartida@4c04216f]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac72ac">  <td>19/11/13 15:34:48</td>   <td>-2354279</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test12EliminarTorneo.IngresoAmbiente()[pri:0, instance:test.Test12EliminarTorneo@987a0bb]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:36:11</td>   <td>-2270833</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test13Equipos.IngresoAmbiente()[pri:0, instance:test.Test13Equipos@da09250]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:37:35</td>   <td>-2187410</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test14Misiones.IngresoAmbiente()[pri:0, instance:test.Test14Misiones@660b1a9d]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b4946c">  <td>19/11/13 15:41:18</td>   <td>-1964217</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test15Ranking.IngresoAmbiente()[pri:0, instance:test.Test15Ranking@28e7bb31]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="736bd1">  <td>19/11/13 15:42:39</td>   <td>-1883777</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test16CSGO.IngresoAmbiente()[pri:0, instance:test.Test16CSGO@2cae5fa7]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:43:41</td>   <td>-1821643</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test17Noticias.IngresoAmbiente()[pri:0, instance:test.Test17Noticias@733534f9]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6bb1da">  <td>19/11/13 15:45:54</td>   <td>-1687912</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test18Temporadas.IngresoAmbiente()[pri:0, instance:test.Test18Temporadas@6d31f106]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bfa972">  <td>19/11/13 15:46:57</td>   <td>-1625292</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test19AsociacionRanking.IngresoAmbiente()[pri:0, instance:test.Test19AsociacionRanking@661e279d]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:47:51</td>   <td>-1571061</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test20Notificacion.IngresoAmbiente()[pri:0, instance:test.Test20Notificacion@7f426ddd]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="957ada">  <td>19/11/13 15:50:17</td>   <td>-1424976</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test21CMSReqUsuario.IngresoAmbiente()[pri:0, instance:test.Test21CMSReqUsuario@47a3d56a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c81b4">  <td>19/11/13 15:51:20</td>   <td>-1362766</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test22CMSLogInAs.IngresoAmbiente()[pri:0, instance:test.Test22CMSLogInAs@3855d9b2]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:52:28</td>   <td>-1294104</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test23CMSPayPall.IngresoAmbiente()[pri:0, instance:test.Test23CMSPayPall@7b8aebd0]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b88adc">  <td>19/11/13 15:54:42</td>   <td>-1160564</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test24CMSDashboard.IngresoAmbiente()[pri:0, instance:test.Test24CMSDashboard@2bdab835]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="70ac9b">  <td>19/11/13 15:55:34</td>   <td>-1108652</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test25CMSNoticias.IngresoAmbiente()[pri:0, instance:test.Test25CMSNoticias@1815577b]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="75746b">  <td>19/11/13 15:56:30</td>   <td>-1052791</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test26CMSGraceDay.IngresoAmbiente()[pri:0, instance:test.Test26CMSGraceDay@d6b532f]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 15:58:04</td>   <td>-958652</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test27CMSMenu.IngresoAmbiente()[pri:0, instance:test.Test27CMSMenu@3afca2c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:01:12</td>   <td>-770041</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test29CMSPermisos.IngresoAmbiente()[pri:0, instance:test.Test29CMSPermisos@112c2930]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:04:35</td>   <td>-567620</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test30CMSRoles.IngresoAmbiente()[pri:0, instance:test.Test30CMSRoles@147e0734]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="996569">  <td>19/11/13 16:07:18</td>   <td>-404025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test31CMSUsuario.IngresoAmbiente()[pri:0, instance:test.Test31CMSUsuario@ee96866]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8db8ed">  <td>19/11/13 16:08:58</td>   <td>-303983</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test32CMSAsignaRol.IngresoAmbiente()[pri:0, instance:test.Test32CMSAsignaRol@3a209918]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:10:06</td>   <td>-236085</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test33CMSTorneos.IngresoAmbiente()[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:15:35</td>   <td>92611</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test34CMSMisiones.IngresoAmbiente()[pri:0, instance:test.Test34CMSMisiones@270d5060]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18576">  <td>19/11/13 16:17:55</td>   <td>233116</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test35CMSPremios.IngresoAmbiente()[pri:0, instance:test.Test35CMSPremios@639c7f9c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e2bea7">  <td>19/11/13 16:18:46</td>   <td>283949</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test36CMSTraducciones.IngresoAmbiente()[pri:0, instance:test.Test36CMSTraducciones@6d7b001b]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:19:40</td>   <td>337907</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test37CMSTutoriales.IngresoAmbiente()[pri:0, instance:test.Test37CMSTutoriales@1f758e4f]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="95d2b2">  <td>19/11/13 16:22:52</td>   <td>529438</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test38CMSLogOut.IngresoAmbiente()[pri:0, instance:test.Test38CMSLogOut@6fe04f2a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="f280bd">  <td>19/11/13 16:23:36</td>   <td>574053</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test39CMSIdioma.IngresoAmbiente()[pri:0, instance:test.Test39CMSIdioma@beabd6b]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:24:36</td>   <td>633402</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test40CMSVistasOffline.IngresoAmbiente()[pri:0, instance:test.Test40CMSVistasOffline@1f949ab9]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bdb3b8">  <td>19/11/13 16:26:17</td>   <td>734984</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test41LogInAlterno.IngresoAmbiente()[pri:0, instance:test.Test41LogInAlterno@5a7b6b75]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9a66ad">  <td>19/11/13 15:25:54</td>   <td>-2888809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test07InicioTorneos.Inicio()[pri:7, instance:test.Test07InicioTorneos@4f64d9cb]">Inicio</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8581c4">  <td>19/11/13 15:08:28</td>   <td>-3934817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test42PassWordReset.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test42PassWordReset@3181d4de]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c0a16e">  <td>19/11/13 15:11:27</td>   <td>-3754865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01LogIn.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01LogIn@71369e1a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ef6c79">  <td>19/11/13 15:13:01</td>   <td>-3661141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test00CrearCuenta.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test00CrearCuenta@3719360c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="99a494">  <td>19/11/13 15:15:09</td>   <td>-3533762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test43LogInFacebook.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test43LogInFacebook@587f4f63]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7d94c0">  <td>19/11/13 15:18:32</td>   <td>-3330294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test02MiPerfil.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test02MiPerfil@34aa8b61]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="68806d">  <td>19/11/13 15:20:42</td>   <td>-3200607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test03EditarCuenta.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test03EditarCuenta@55222ee9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a5a970">  <td>19/11/13 15:23:50</td>   <td>-3011994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test04HacerPremiumLaCuenta.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test04HacerPremiumLaCuenta@71567f33]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac8968">  <td>19/11/13 15:24:32</td>   <td>-2970372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test05EquiposTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test05EquiposTorneos@39f42d0e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac8968">  <td>19/11/13 15:24:40</td>   <td>-2962261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test05EquiposTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test05EquiposTorneos@39f42d0e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e49bc1">  <td>19/11/13 15:25:32</td>   <td>-2909835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test06GenerarCodigoReferido.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test06GenerarCodigoReferido@2f4d01b6]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9a66ad">  <td>19/11/13 15:26:29</td>   <td>-2853090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test07InicioTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test07InicioTorneos@4f64d9cb]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9a66ad">  <td>19/11/13 15:27:04</td>   <td>-2818230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test07InicioTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test07InicioTorneos@4f64d9cb]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ecabfc">  <td>19/11/13 15:28:37</td>   <td>-2724947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test08CrearTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test08CrearTorneo@532dacf5]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ecabfc">  <td>19/11/13 15:29:49</td>   <td>-2653532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test08CrearTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test08CrearTorneo@532dacf5]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cf8498">  <td>19/11/13 15:30:49</td>   <td>-2593466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test09ConsultaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test09ConsultaTorneo@3962ec84]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:31:57</td>   <td>-2525314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:32:48</td>   <td>-2473986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:33:35</td>   <td>-2427444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c846d">  <td>19/11/13 15:34:43</td>   <td>-2359493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test11AdministrarPartida.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test11AdministrarPartida@4c04216f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac72ac">  <td>19/11/13 15:36:07</td>   <td>-2275014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test12EliminarTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test12EliminarTorneo@987a0bb]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:00</td>   <td>-2222136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@da09250]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:09</td>   <td>-2212956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@da09250]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:16</td>   <td>-2206422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@da09250]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:22</td>   <td>-2199949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@da09250]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:30</td>   <td>-2192386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@da09250]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:38:30</td>   <td>-2132356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@660b1a9d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:39:30</td>   <td>-2072581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@660b1a9d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:40:26</td>   <td>-2016480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@660b1a9d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:41:14</td>   <td>-1967950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@660b1a9d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b4946c">  <td>19/11/13 15:42:32</td>   <td>-1890643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test15Ranking.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test15Ranking@28e7bb31]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="736bd1">  <td>19/11/13 15:43:35</td>   <td>-1826886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test16CSGO.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test16CSGO@2cae5fa7]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:44:34</td>   <td>-1767826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test17Noticias@733534f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:45:19</td>   <td>-1723445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test17Noticias@733534f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:45:51</td>   <td>-1690930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test17Noticias@733534f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6bb1da">  <td>19/11/13 15:46:50</td>   <td>-1632242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test18Temporadas.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test18Temporadas@6d31f106]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bfa972">  <td>19/11/13 15:47:48</td>   <td>-1574421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test19AsociacionRanking.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test19AsociacionRanking@661e279d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:48:44</td>   <td>-1518508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@7f426ddd]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:49:25</td>   <td>-1476988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@7f426ddd]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c39bb3">  <td>19/11/13 15:50:13</td>   <td>-1429576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@7f426ddd]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="957ada">  <td>19/11/13 15:51:14</td>   <td>-1368262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test21CMSReqUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test21CMSReqUsuario@47a3d56a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c81b4">  <td>19/11/13 15:52:23</td>   <td>-1299518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test22CMSLogInAs.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test22CMSLogInAs@3855d9b2]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:53:20</td>   <td>-1242106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@7b8aebd0]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:54:00</td>   <td>-1202805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@7b8aebd0]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ec8c6c">  <td>19/11/13 15:54:36</td>   <td>-1166061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@7b8aebd0]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b88adc">  <td>19/11/13 15:55:29</td>   <td>-1113710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test24CMSDashboard.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test24CMSDashboard@2bdab835]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="70ac9b">  <td>19/11/13 15:56:24</td>   <td>-1058284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test25CMSNoticias@1815577b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="75746b">  <td>19/11/13 15:57:20</td>   <td>-1002174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test26CMSGraceDay@d6b532f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="75746b">  <td>19/11/13 15:58:00</td>   <td>-962137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test26CMSGraceDay@d6b532f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 15:59:02</td>   <td>-900164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@3afca2c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 16:00:04</td>   <td>-837911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@3afca2c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6d76ba">  <td>19/11/13 16:01:06</td>   <td>-776808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@3afca2c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:02:12</td>   <td>-710117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@112c2930]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:02:48</td>   <td>-674807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@112c2930]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:03:31</td>   <td>-631192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@112c2930]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="959e87">  <td>19/11/13 16:04:29</td>   <td>-572913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@112c2930]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:05:21</td>   <td>-521613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@147e0734]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:06:27</td>   <td>-455118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@147e0734]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bbeab5">  <td>19/11/13 16:07:15</td>   <td>-407437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@147e0734]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="996569">  <td>19/11/13 16:08:03</td>   <td>-359052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test31CMSUsuario@ee96866]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="996569">  <td>19/11/13 16:08:55</td>   <td>-307712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test31CMSUsuario@ee96866]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8db8ed">  <td>19/11/13 16:10:01</td>   <td>-240995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test32CMSAsignaRol.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test32CMSAsignaRol@3a209918]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:10:55</td>   <td>-187711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:12:05</td>   <td>-116867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:12:42</td>   <td>-80604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:13:55</td>   <td>-7080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:14:41</td>   <td>39156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cb9989">  <td>19/11/13 16:15:31</td>   <td>88911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@6fb0261e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:16:20</td>   <td>137971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test34CMSMisiones@270d5060]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:17:11</td>   <td>188265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test34CMSMisiones@270d5060]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="6b907c">  <td>19/11/13 16:17:51</td>   <td>229102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test34CMSMisiones@270d5060]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18576">  <td>19/11/13 16:18:43</td>   <td>280520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test35CMSPremios.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test35CMSPremios@639c7f9c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="e2bea7">  <td>19/11/13 16:19:34</td>   <td>332109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test36CMSTraducciones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test36CMSTraducciones@6d7b001b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:20:26</td>   <td>384096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@1f758e4f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:21:13</td>   <td>430593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@1f758e4f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:22:05</td>   <td>482867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@1f758e4f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="606fee">  <td>19/11/13 16:22:48</td>   <td>525279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@1f758e4f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="95d2b2">  <td>19/11/13 16:23:32</td>   <td>569935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test38CMSLogOut.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test38CMSLogOut@6fe04f2a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="f280bd">  <td>19/11/13 16:24:31</td>   <td>629085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test39CMSIdioma.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test39CMSIdioma@beabd6b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:25:13</td>   <td>670301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@1f949ab9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:25:32</td>   <td>690152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@1f949ab9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:25:55</td>   <td>713085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@1f949ab9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:26:14</td>   <td>731662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@1f949ab9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bdb3b8">  <td>19/11/13 16:26:38</td>   <td>755609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test41LogInAlterno.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test41LogInAlterno@5a7b6b75]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c0a16e">  <td>19/11/13 15:09:55</td>   <td>-3847290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01LogIn.LogIn()[pri:0, instance:test.Test01LogIn@71369e1a]">LogIn</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ef6c79">  <td>19/11/13 15:12:02</td>   <td>-3720495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test00CrearCuenta.LogIn()[pri:0, instance:test.Test00CrearCuenta@3719360c]">LogIn</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="99a494">  <td>19/11/13 15:13:44</td>   <td>-3617894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test43LogInFacebook.LogIn()[pri:0, instance:test.Test43LogInFacebook@587f4f63]">LogIn</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="bdb3b8">  <td>19/11/13 16:26:31</td>   <td>748661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test41LogInAlterno.LogInAlternoTG()[pri:95, instance:test.Test41LogInAlterno@5a7b6b75]">LogInAlternoTG</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="95d2b2">  <td>19/11/13 16:23:07</td>   <td>544362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test38CMSLogOut.LogOut()[pri:89, instance:test.Test38CMSLogOut@6fe04f2a]">LogOut</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7d94c0">  <td>19/11/13 15:16:19</td>   <td>-3463638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test02MiPerfil.MiPerfil()[pri:1, instance:test.Test02MiPerfil@34aa8b61]">MiPerfil</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac8968">  <td>19/11/13 15:24:09</td>   <td>-2993521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test05EquiposTorneos.MisEquipos()[pri:4, instance:test.Test05EquiposTorneos@39f42d0e]">MisEquipos</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="ac8968">  <td>19/11/13 15:24:37</td>   <td>-2965306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test05EquiposTorneos.MisTorneos()[pri:5, instance:test.Test05EquiposTorneos@39f42d0e]">MisTorneos</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:25:58</td>   <td>715813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.NoticiasRanking()[pri:94, instance:test.Test40CMSVistasOffline@1f949ab9]">NoticiasRanking</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:25:16</td>   <td>673847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.OfflineChallenges()[pri:92, instance:test.Test40CMSVistasOffline@1f949ab9]">OfflineChallenges</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:25:35</td>   <td>692613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.OfflineRanking()[pri:93, instance:test.Test40CMSVistasOffline@1f949ab9]">OfflineRanking</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9afa6e">  <td>19/11/13 16:24:49</td>   <td>646464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.OfflineTournaments()[pri:91, instance:test.Test40CMSVistasOffline@1f949ab9]">OfflineTournaments</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="8581c4">  <td>19/11/13 15:08:01</td>   <td>-3961250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test42PassWordReset.PassReset()[pri:0, instance:test.Test42PassWordReset@3181d4de]">PassReset</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9a66ad">  <td>19/11/13 15:26:33</td>   <td>-2849668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test07InicioTorneos.Torneos()[pri:8, instance:test.Test07InicioTorneos@4f64d9cb]">Torneos</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:20</td>   <td>-2202489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.UnirmeEquipo()[pri:20, instance:test.Test13Equipos@da09250]">UnirmeEquipo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:32:00</td>   <td>-2522306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test10EditaActivaDesactivaTorneo.activarTorneo()[pri:13, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">activarTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="7c846d">  <td>19/11/13 15:34:02</td>   <td>-2399954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test11AdministrarPartida.administrarPartida()[pri:15, instance:test.Test11AdministrarPartida@4c04216f]">administrarPartida</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="cf8498">  <td>19/11/13 15:30:11</td>   <td>-2631469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test09ConsultaTorneo.consultaTorneo()[pri:11, instance:test.Test09ConsultaTorneo@3962ec84]">consultaTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:37:07</td>   <td>-2215499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.crearEquipo()[pri:18, instance:test.Test13Equipos@da09250]">crearEquipo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:39:32</td>   <td>-2070507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.crearMisiones()[pri:24, instance:test.Test14Misiones@660b1a9d]">crearMisiones</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:32:51</td>   <td>-2471703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test10EditaActivaDesactivaTorneo.desactivarTorneo()[pri:14, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">desactivarTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="9fe698">  <td>19/11/13 15:31:11</td>   <td>-2571504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test10EditaActivaDesactivaTorneo.editarTorneo()[pri:12, instance:test.Test10EditaActivaDesactivaTorneo@3cf55e0c]">editarTorneo</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="f280bd">  <td>19/11/13 16:23:50</td>   <td>587301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test39CMSIdioma.idioma()[pri:90, instance:test.Test39CMSIdioma@beabd6b]">idioma</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="a59c94">  <td>19/11/13 15:37:57</td>   <td>-2165075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.misiones()[pri:22, instance:test.Test14Misiones@660b1a9d]">misiones</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:43:57</td>   <td>-1805167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test17Noticias.noticias()[pri:31, instance:test.Test17Noticias@733534f9]">noticias</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:44:37</td>   <td>-1765150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test17Noticias.noticiaspopulares()[pri:32, instance:test.Test17Noticias@733534f9]">noticiaspopulares</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="c18b9e">  <td>19/11/13 15:45:22</td>   <td>-1720279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test17Noticias.noticiasrecientes()[pri:33, instance:test.Test17Noticias@733534f9]">noticiasrecientes</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="b4946c">  <td>19/11/13 15:41:45</td>   <td>-1937310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test15Ranking.rankingTG()[pri:26, instance:test.Test15Ranking@28e7bb31]">rankingTG</td> 
  <td>main@2010024132</td>   <td></td> </tr>
<tr bgcolor="88cb61">  <td>19/11/13 15:36:40</td>   <td>-2242659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.seccionEquipos()[pri:17, instance:test.Test13Equipos@da09250]">seccionEquipos</td> 
  <td>main@2010024132</td>   <td></td> </tr>
</table>
